.label {
  font-size: 12px;
  font-weight: bold;
  color: white;
  /* padding: 5px 0; */
  margin-bottom: 3px;
  margin-top: 8px;
  margin-left: 2px;
}

.field {
  margin-bottom: 10px;
  border: 1px white solid;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}
