.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 10px;
  width: 100%;
}

.list {
  margin-top: 10px;
  width: 100%;
}

.description {
  display: flex;
  flex: row;
  flex-wrap: nowrap;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  border: 0px solid black;
  justify-content: space-between;
  /* justify-content: start; */
}

.header span {
  margin-right: 20px;
  font-size: 20px;
  color: slategray;
  font-weight: bold;
  line-height: 35px;
}

.lpu:nth-child(2n) {
  background-color: #b0e0e6;
}

.headerListLpu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #4682b4;
  width: 100%;
}

.headerListLpu div {
  padding: 10px;
  color: #d3d3d3;
  text-align: center;
}

.headerCodeLpu {
  width: 100px;
}

.headerInnLpu {
  width: 150px;
}

.headerNameLpu {
  width: calc(100% - 300px);
}

.headerMenuLpu {
  width: 50px;
}
