@import url('./fonts/font-awesome.css');
/* General app styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: normal;
  font-family: Verdana, Tahoma, Arial;
  color: #474a51;
}

li {
  list-style: none;
}
