.container {
  display: flex;
  flex-direction: column;
}

.activeBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.toggleText {
  line-height: 30px;
  font-size: 14px;
  width: 100px;
}

.menu {
  position: relative;
}
