.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activeBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.filterBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border: 0px solid black;
  width: 100%;
}

.toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.toggleText {
  line-height: 30px;
  font-size: 14px;
  width: 100px;
}

.menu {
  position: relative;
}

.filter {
  width: 100%;
  padding-right: 20px;
}
