.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 0px solid black;
  padding-right: 10px;
}

.list {
  width: 100%;
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  border: 0px solid black;
  justify-content: space-between;
  /* justify-content: start; */
}

.header span {
  margin-right: 20px;
  font-size: 20px;
  color: slategray;
  font-weight: bold;
}

.menuModels {
  position: relative;
}

.model:nth-child(2n) {
  background-color: #b0e0e6;
}

.headerListModel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #4682b4;
}

.headerListModel div {
  padding: 10px;
  color: #d3d3d3;
  text-align: center;
  border: 0px solid black;
}

.headerChoiceModel,
.headerMenuModel {
  width: 50px;
}

.headerChoiceModelCorrect {
  width: 30px;
}

.headerMenuModelCorrect {
  width: 32px;
}

.headerDateModel {
  width: 350px;
}

.headerNumModel {
  width: 250px;
}

.headerEditModel {
  width: 150px;
}

.headerReleaseModel {
  width: 250px;
}

.headerDescriptionModel {
  /* width: 500px; */
  width: 100%;
}
