.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container div {
  text-align: center;
  padding: 10px;
  border: 0px solid black;
}

.choiceModel,
.menuModel {
  width: 50px;
}

.dateModel {
  width: 350px;
}

.numModel {
  width: 250px;
}

.editModel {
  width: 150px;
}

.releaseModel {
  width: 250px;
}

.descriptionModel {
  /* width: 500px; */
  text-align: left;
  width: 100%;
}

.menuModel {
  position: relative;
}
